
# NFS-based tests need a mountpoint with user option to work with.
#
# Specify here the mountpoint and port to use, as well as a file lock
# to guarantee only one test uses that mountpoint at a time.
#
# In /etc/fstab, add a line like the following:
#
# 127.0.0.1:/ /tmp/test/realize-fs/nfs nfs \
#   user,noauto,noatime,nodiratime,noacl,nolock,vers=3,tcp,wsize=1048576,rsize=131072,actimeo=120,port=12000,mountport=12000 0 0
[nfs]
flock = "/tmp/test/realize-fs/nfs.flock"
mountpoint = "/tmp/test/realize-fs/nfs"
port = 12000